@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Baskerville:ital@0;1&family=Poppins:ital@1&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital@0;1&family=Libre+Baskerville:ital@0;1&family=Poppins:ital@1&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital@1&display=swap');
.App{
  text-align: center;
  font-family: 'Kanit', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./Components//utils//volvo-9600.avif");
  height: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  margin-top: auto;
  bottom: 0;
  background-color: black;
}

.card{
  background-color: #ececee;
  border-radius: 18px;
  color: black!important;
  float: left;
  width: 100%;
  margin-bottom: 15%!important;
  margin-top: 15%!important;
}

.navbar-brand{
  font-family: 'Bebas Neue', sans-serif;
}

.about-text{
  color: grey;
  font-size: 1.2rem;
  display: flex;
  text-align: justify;
}

.footer-link-card{
  margin-top: 3%!important;
  margin-bottom: 3%!important;
}


